* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; 
}
header {
  background-color: #f5f5f5;
  padding: 15px 60px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar img {
  height: 45px;
  cursor: pointer;
}
.hi {
  display: flex;
  gap: 40px;
}

.hi p {
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.hi p:hover {
  color: #2e8b57;
}
.navbar button {
  padding: 10px 20px;
  background-color: #2e8b57;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.navbar button:hover {
  background-color: #246b45;
}

.hero {
  height: 100vh;
  background-image: url('./assets/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}


.hero-content {
  position: relative;
  z-index: 1;
  max-width: 900px;
  color: white;
}

.badge {
  display: inline-block;
  background-color:#ffffff;
  color: #4ade80;
  padding: 8px 18px;
  border-radius: 50px;
  font-size: 14px;
  margin-bottom: 25px;
}

.hero h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #22c55e;
}

.hero p {
  font-size: 18px;
  color: #d1d5db;
  margin-bottom: 35px;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.primary-btn {
  padding: 14px 28px;
  background-color: #22c55e;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.secondary-btn {
  padding: 14px 28px;
  background-color: transparent;
  border: 1px solid #94a3b8;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.notes{
  text-align: center;
  margin-bottom: 44px;
  margin-top: 44px;
}

.notes h2{
  font-size: xx-large;
  margin-bottom: 10px;
}
.notes p{
  font-size: small;
  color: #4b5563;
}

#Cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 80px 100px;
  background: #f8fafc;
}

.card {
  background: white;
  width: 260px;
  padding: 40px 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}
.card img {
  width: 50px;
  height: 50px;
  background: #ff5a5f;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #1e293b;
}

.card p {
  font-size: 14px;
  color: #64748b;
  line-height: 1.6;
}

#brain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 100px 120px;
  background: #f8fafc;
}

.img-brain img {
  width: 480px;
}

.brain-content {
  max-width: 550px;
}

.brain-content h4 {
  color: #22c55e;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.brain-content h1 {
  font-size: 42px;
  color: #0f172a;
  margin-bottom: 20px;
  line-height: 1.2;
}

.brain-content p {
  color: #64748b;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 25px;
}

.brain-content ul {
  list-style: none;
  padding: 0;
}

.brain-content ul li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
  font-size: 15px;
  color: #1e293b;
}

.brain-content ul li img {
  width: 18px;
}